﻿*{ margin: 0; padding: 0; font-family: Arial; }

body { width: 100%; background-color: gray; padding-top: 4vw; background: url(./Assets/background.png) top left repeat; background-size: 100vw calc(100vw/1.78); }

.hidden { display: none; }
.clear { clear: both; }
.greyedout { opacity: 0.7; }
#table { width: 77vw; height: calc(77vw*0.60); margin: 0 auto; background: url(./Assets/pokertable_full_16bit.png) no-repeat top left; background-size: 77vw calc(77vw*0.617); }
#flopline { height: 6.76vw; padding: 15.77vw 22.53vw; }
#flopline img { display: block; float: left; margin-right: 0.45vw; height: calc(8vw / 2.63); width: 8vw; border: 1px solid black; opacity: 0; }

#start { margin: calc(-28vw) auto; display: block; width: 14vw; height: calc(14vw/3); font-size: 1.5vw; font-size: 1.36vw; color: #FFF; font-weight: bold; text-align: center; border-radius: 2.62vw; cursor: pointer; }

#bank { position: absolute; padding: 0.23vw; color: #FFF; font-size: 1.3vw; margin-top: 21.5vw; padding-top: 1.5vw; margin-left: 19.5vw; padding-left: 3vw; height: 3.2vw; }
#bank.bankimg {  background: url(./Assets/chips-banks.png) top left no-repeat; background-size: 2vw 3.2vw; } 

.player { display: block; height: calc(8vw / 2.63); width: 8vw; position: absolute; }
.player div { height: calc(8vw / 2.63); width: 8vw; padding: calc(2vw/3) 3vw; position: absolute; background: url(./Assets/gray-opacity.png) top left repeat; border: 1px solid gray; display: block; }
.player div.active { border: 1px solid green; }
.player img.card { opacity: 0; width: 5vw; height: calc(5vw * 1.38); position: absolute; border: 1px solid black; -webkit-border-radius: 0.3vw; -moz-border-radius: 0.3vw; border-radius: 0.3vw; }
.player .card1 { margin-top: -4.5vw; margin-left: 3.45vw; }
.player .card2 { margin-top: -4.5vw; margin-left: 5.3vw; }
.player img.avatar { position: absolute; width: 4vw; height: 4vw; margin-top: -0.5vw; display: block; left: 0; }
.player label { display: inline-block; width: 8vw; margin-top: -0.2vw; }
.player label.hasimage { width: 6vw; margin-left: 2.4vw; } /*  */
    .player span { color: #CCC; font-size: 1.2vw; display: block; text-align: center; width: 100%; font-weight: bold; }
.player strong { color: white; font-weight: bold; font-size: 1.2vw; display: block; width: 100%; margin-top: 0.5vw; text-align: center; }
.player p { display: none; color: green; font-size: 1.2vw; font-weight: bolder; text-align: center; margin-top: -3.2vw; }
.player mark.winner { margin: 3.7vw 0 0 2.89vw; border: 1px solid #000; border-radius: 0.68vw; width: 7.87vw; height: 1.31vw; font-size: 1vw; position: absolute; background-color: #d38400; padding: 0.16vw 0px; display: block; text-align: center; }

#player_0 { margin-top: 8.9vw; margin-left: 0; }
#player_1 { margin-top: 2vw; margin-left: 31.5vw; }
#player_2 { margin-top: 8.9vw; margin-left: 62vw; }
#player_3 { margin-top: 28vw; margin-left: 62vw; }
#player_4 { margin-top: 35vw; margin-left: 31.5vw; }
#player_5 { margin-top: 28vw; margin-left: 0; }

img.winningcard { border: 2px solid yellow; }

/* dealer block */
#dealer-chip { width: 2vw; height: 1.4vw; position: absolute; background: url(./Assets/chip-dealer.png) top left no-repeat; background-size: 2vw 1.4vw; }
.dealer_x { display: none; }
.dealer_player_0 { margin-top: 14vw; margin-left: 12vw; }
.dealer_player_1 { margin-top: 6.5vw; margin-left: 28.5vw; }
.dealer_player_2 { margin-top: 14vw; margin-left: 62.5vw; }
.dealer_player_3 { margin-top: 26vw; margin-left: 62.5vw; }
.dealer_player_4 { margin-top: 33vw; margin-left: 46vw; }
.dealer_player_5 { margin-top: 26vw; margin-left: 12vw; }

/* chips block */
.chip { width: 11.07vw; height: 1.3vw; position: absolute; background: url(./Assets/chip-poker.png) top left no-repeat; background-size: 2vw 1.3vw; }
.chip span { display: block; padding: 0.15vw; background: url(./Assets/gray-opacity.png) top left repeat; color: #FFF; position: absolute;  margin-left: 2.3vw; font-size: 0.9vw; color: #DDD; }
#chip_player_0 { margin-top: 11vw; margin-left: 16vw; }
#chip_player_1 { margin-top: 7vw; margin-left: 35vw; }
#chip_player_2 { margin-top: 11vw; margin-left: 54vw; }
#chip_player_3 { margin-top: 29vw; margin-left: 54vw; }
#chip_player_4 { margin-top: 27vw; margin-left: 35vw; }
#chip_player_5 { margin-top: 29vw; margin-left: 16vw; }

/* Control for manual play */
#playerControls { position: absolute; margin-left: 48.22vw; margin-top: 36.05vw; display: none; }
#playerControls .conf { background-color: #000; border-radius: 0.45vw; }
#playerControls #betMultipliers { border-bottom: 1px solid #333; border-radius: 0.45vw; }
#playerControls #betMultipliers button { background-color: #000; height: 1.8vw; font-size: 0.94vw; padding: 0; border: 0; color: #999; width: 14%; cursor: pointer;  }
#playerControls #betMultipliers button:hover, #playerControls #betMultipliers button.active { background-color: #201f23; }
#playerControls #betMultipliers button.w15 { width: 15%; }

#slider-container { position: absolute; width: 20.5vw; margin: 0.75vw 0.5vw; }
#slider-container span { color: #666; display: block; border: 1px solid #666; width: 1.1vw; height: 1.1vw; font-size: 1vw; text-align: center; border-radius: 2.5vw; margin-top: -0.5vw; cursor: pointer; }
#slider-control { position: absolute; margin: 0 2vw; width: 16.5vw; }
#slider-bet { height: 0.05vw; background: #3c3c3c; }
#slider-bet .ui-slider-range { height: 0.05vw; background: #38b478; background-attachment: scroll; display: block; left: 0px; margin: 0; position: absolute; z-index: 1; }
#slider-bet .ui-slider-handle { border-radius: 1.35vw; top: -0.43vw; width: 1.1vw; height: 1.1vw; border: 0; background: #38b478; background-attachment: scroll; background: #38b478; cursor: default; left: 0px; margin-bottom: 0px; margin-left: -0.52vw; margin-right: 0px; margin-top: 0; padding: 0; position: absolute; z-index: 2; }
#slider-bet .ui-state-active { background: #13e17b; }
#slider-bet .ui-widget-content, #slider-bet .ui-widget { border: 0; }

#playerControls div.betOptions { padding: 0.26vw; margin-bottom: 0.52vw; }
#playerControls div.betOptions p { text-align: right; }
#playerControls div.betOptions input { padding: 0.26vw; border: 0; font-size: 0.94vw; border-radius: 0.26vw; color: #7e7e7e; width: 8.75vw; background-color: #282828;  }

#betButtons button { float: left; margin: 0 3px; font-size: 1.36vw; color: #FFF; font-weight: bold; text-align: center; border-radius: 2.62vw; cursor: pointer; width: 10.5vw; height: 4.72vw; }
#betButtons button span { font-size: 1.36vw; color: #FFF; display: block; }
#betButtons button:active { border: 0.1vw #FFF solid; }
.actionFold { background-color: #50cb71; border: 0.1vw #50cb71 solid; }
.actionCheck { background-color: #e29a19; border: 0.1vw #e29a19 solid; }
.actionCall { background-color: #e29a19; border: 0.1vw #e29a19 solid; }
.actionRaise { background-color: #ed3843; border: 0.1vw #ed3843 solid; }


#coordinates_panel { display: block; position: absolute; padding: 10px; border: 1px #999 solid; background: black; color: #FFF; font-size: 20pt; }
#systems_panel { display: block; position: absolute; bottom: 50px; padding: 10px; border: 1px #999 solid; background: black; color: #FFF; font-size: 20pt; }

.uiblock { position: absolute; background-position: top left; background-repeat: no-repeat; }
#ui_tl { background-image: url(./Assets/ui-lefttop.png); background-size: 21.5vw 2.15vw; width: 21.5vw; height: 2.15vw; left: 0.5vw; top: 0.26vw; }
#ui_tr { background-image: url(./Assets/ui_righttop.png); background-size: 18.44vw 2.25vw; width: 18.44vw; height: 2.25vw; right: 0.26vw; top: 0.26vw; }
#ui_lb { background-image: url(./Assets/ui_bottom_modes.png); background-size: 9.02vw 3.773vw; width: 9.02vw; height: 3.773vw; left: 0.5vw; bottom: 3.6vw; }
#ui_chat { background-image: url(./Assets/ui-chat.png); background-size: 37vw 2.8vw; width: 37vw; height: 2.8vw; left: 0.5vw; bottom: 0.26vw; }

.overflowhidden { overflow: hidden; } 

@keyframes do-levitation {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, 5em); }
}

@keyframes do-back-levitation {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, -5em); }
}

#winOverlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black;  backdrop-filter: blur(3px); background: rgba(0, 0, 0, 0.8);  }
#winOverlay #chipA { position: absolute; width: 14.22vw; height: 16.02vw; bottom: 0; animation: do-levitation 3s alternate ease-in-out infinite; }
#winOverlay #chipB { position: absolute; width: 17.42vw; height: 14.93vw; animation: do-back-levitation 3s alternate ease-in-out infinite; }
#winOverlay #chipC { position: absolute; width: 14.22vw; height: 16.02vw; right: 0; animation: do-levitation 3s alternate ease-in-out infinite; }
#winOverlay #chipD { position: absolute; width: 16.28vw; height: 15.74vw; bottom: 0; right: 0; animation: do-back-levitation 3s alternate ease-in-out infinite; }
#winOverlayData { margin: 0 auto; width: 30%; }
#winOverlayData #pklogo { border: 0; margin: 4vw auto 0 auto;  display: block; width: 18.18vw; height: 3.48vw }

#winOverlayData .winner_block { padding-top: 1px; display: block; width: 60%; height: 12vw; margin: 8vw auto; }
#winOverlayData .player { position: relative; margin: 0 auto; padding: 0; width: 100%; }
#winOverlayData .player #wodCards { position: absolute; margin: -7.76vw 0 0 9.49vw; width: 13.57vw; height: 14.77vw }
#winOverlayData .player div { background: #000; border: 0; position: relative; margin: 6vw auto 0 auto; }
#winOverlayData .player .winner { position: relative; display: block; margin: -0.7vw auto; } 

#winOverlayData #getLucky { display: block; width: 30%; margin: 2vw auto; font-size: 1vw; text-decoration: none; color: #FFF; border-radius: 3vw; background-color: #2ecc71; text-align: center; padding: 1.2vw 2.4vw; }
#winOverlayData #getLucky:hover { background-color: #3aae55; } 
#winOverlayData #wodDevices { border: 0; margin: 0 auto;  display: block; width: 15.3vw; height: 3.9vw } 