<script>
  import { fly } from "svelte/transition";
  import {
    BASE_URL,
    gamblerLastSeries,
    gamblerLastTime,
    activeIndex,
    players,
  } from "../helpers";
  export let containerWidth;
  let isVisible = Boolean($gamblerLastTime);

  const continueWatch = () => {
    isVisible = false;
    $activeIndex = Number($gamblerLastSeries);
    $players[$activeIndex].play();
    
    setTimeout(()=>$players[$activeIndex].currentTime(Number($gamblerLastTime)), 500)
    
    
  };
  const skip = () => {
    isVisible = false;
  };
</script>

{#if isVisible}
  <div
    class="container"
    in:fly|local={{ x: containerWidth }}
    out:fly|local={{ x: containerWidth * 0.5 }}>
    <img
      src={`${BASE_URL}/images/continuewatch.png`}
      alt="continuewatch"
      class="continue" />
    <img
      on:click={continueWatch}
      src={`${BASE_URL}/images/continueyes.png`}
      alt="continuewatch"
      class="continueyes" />
    <img
      on:click={skip}
      src={`${BASE_URL}/images/continueno.png`}
      alt="continuewatch"
      class="continueno" />
  </div>
{/if}

<style>
  .container {
    position: absolute;
    top: 1%;
    right: 2%;
    width: 37%;
    padding-top: 7%;
  }
  .continue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .continueno {
    position: absolute;
    top: 19%;
    right: 2%;
    width: 22%;
    cursor: pointer;
  }
  .continueyes {
    position: absolute;
    top: 19%;
    right: 27%;
    width: 22%;
    cursor: pointer;
  }
</style>
