<script>
  import { onMount } from "svelte";
  export let item;
  export let myPlayer;
  export let containerWidth;
  let imageRef;
  import { sendMetrik, externalLink, iframeLink } from "../helpers";
  // $: whiteShadow = `box-shadow: 0 0 ${containerWidth * 0.05}px ${
  //   containerWidth * 0.01
  // }px `;
  let isLoaded = false;
  const onLoad = () => {
    isLoaded = true;
    sendMetrik("BannerShow", { "Gambler.BannerShowLink": item.href });
  };
  const onClick = (e) => {
    myPlayer.pause();
    myPlayer.controlBar.el_.style.display = "";
    sendMetrik("BannerClick", { "Gambler.BannerClickLink": item.href });  
    if(item.showInIframe){
      e.preventDefault();
      $iframeLink = item.href;
    } else {
      $externalLink = item.href;
    }
  };
  $: shiteStyle =
    containerWidth && imageRef && isLoaded
      ? `width:${item.width}%; left:${item.left}%; top: ${item.top}%;height:${
          imageRef.getBoundingClientRect().height
        }px`
      : "";

  onMount(() => {
    if (item.hideControls) {
      myPlayer.controlBar.el_.style.display = "none";
    }
    return () => {
      myPlayer.controlBar.el_.style.display = "";
    };
  });
</script>

<!-- <div class="blackout" class:isLoaded/> -->
<a
  class:isLoaded
  target="_blank"
  rel="nofollow"
  href={item.href}
  on:click={onClick}>
  <img
    bind:this={imageRef}
    on:load={onLoad}
    on:error={(e) => (e.target.style.display = 'none')}
    src={item.image}
    alt="interactive"
    class="interactive"
    class:isLoaded
    style={`width:${item.width}%; left:${item.left}%; top: ${item.top}%;`} />
  {#if isLoaded}
    <div style={shiteStyle} class="shine" />
  {/if}
</a>

<style>
  .shine {
    position: absolute;
    z-index: 99;
    overflow: hidden;
  }
  .shine:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.1) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }

  .interactive {
    position: absolute;
    z-index: 99;
  }
</style>
