<script>
  import Rss from "./Rss.svelte";
  import Image from "./Image.svelte";
  import Zone from "./Zone.svelte";
  import Push from "./Push.svelte";
  import Midroll from "./MidRoll.svelte";
  import DisableAd from "./DisableAd.svelte";
  import ContinueWatch from "./ContinueWatch.svelte";
  import SelectLocation1 from './SelectLocation1.svelte';
  import SelectLocation2 from './SelectLocation2.svelte';
  import { adDisabled } from "../helpers";
  export let overlayRef;
  export let myPlayer;
  export let currentTime;
  export let settings;
  let containerWidth;

  const forwardClick = (event) => {
    const newEvent = event.touches
      ? new TouchEvent(event.type, event)
      : new MouseEvent(event.type, event);
    const player = overlayRef.querySelector(".vjs-player");
    if (player) player.dispatchEvent(newEvent);
  };

  let activeElemenets = [];

  $: {
    activeElemenets = settings.activeElemenets
      ? settings.activeElemenets.filter(
          (item) => item.start <= currentTime && item.end >= currentTime
        )
      : [];
    // console.log(activeElemenets, currentTime);
  }
  const elementTypes = {
    rss: Rss,
    image: Image,
    zone: Zone,
    push: Push,
    midroll: Midroll,
    disablead: DisableAd,
    continuewatch: ContinueWatch,
    selectLocation: SelectLocation1,
    selectLocation2: SelectLocation2
  };
</script>

<div
  bind:clientWidth={containerWidth}
  class="interactiveContainer"
  on:mousedown={forwardClick}
  on:mouseup={forwardClick}
  on:touchstart={forwardClick}
  on:touchend={forwardClick}
  on:mousemove={forwardClick}>
  {#if !$adDisabled}
    {#each activeElemenets as item, i (item.start + item.type)}
      <svelte:component
        this={elementTypes[item.type]}
        {item}
        {myPlayer}
        {containerWidth}
        {settings} />
    {/each}
  {/if}
</div>

<style>
  .interactiveContainer {
    position: absolute !important;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 56%;
    transform: translateY(-50%);
  }
</style>
