<script>
  import { onMount } from "svelte";
  import { BASE_URL, iframeLink, externalLink, sendMetrik } from "../helpers";
  import { fly } from "svelte/transition";
  import Timer from "../Interactive/Timer.svelte";
  export let item;
  export let myPlayer;
  export let containerWidth;

  let midrollPlayer;
  let isAdVisible = true;
  let overlayRef;
  let currentTime;
  let previousMetrikSecond;
  let isTimerVisible = true;
  let isRssVisible = false;
  setTimeout(() => (isRssVisible = true), 1000);
  setTimeout(() => (isRssVisible = false), 6000);
  const onClick = (e) => {
    isAdVisible = false;
    myPlayer.pause();
    myPlayer.controlBar.el_.style.display = "";
    sendMetrik("MidrollClick", { "Gambler.BannerClickLink": item.href });
    if (item.showInIframe) {
      e.preventDefault();
      $iframeLink = item.href;
    } else {
      $externalLink = item.href;
    }
  };
  const onVideoEnd = (e) => {
    sendMetrik("MidrollSkip", {
      "Gambler.MidrollSkipSecond": Math.floor(currentTime),
    });
    e.stopPropagation();
    isAdVisible = false;
    myPlayer.play();
    myPlayer.controlBar.el_.style.display = "";
  };
  const timerEnd = () => {
    isTimerVisible = false;
  };
  const onTimeUpdate = () => {
    currentTime = midrollPlayer.currentTime();
    const newMetrikSecond = Math.floor(currentTime);
    if (newMetrikSecond !== previousMetrikSecond) {
      previousMetrikSecond = newMetrikSecond;
      sendMetrik("MidrollWatch", {
        "Gambler.MidrollWatchSecond": newMetrikSecond,
      });
    }
  };
  const init = () => {
    if (!window.amp || !overlayRef) {
      return setTimeout(init, 10);
    }
    midrollPlayer = window.amp(
      "midroll",
      {
        nativeControlsForTouch: false,
        autoplay: true,
        controls: false,
        fluid: true,
        poster: false,
        width: "640",
        logo: { enabled: false },
      },
      function () {
        myPlayer.pause();
        myPlayer.controlBar.el_.style.display = "none";
        window.midrollPlayer = midrollPlayer;
        this.removeEventListener("ended", onVideoEnd);
        this.addEventListener("ended", onVideoEnd);

        this.removeEventListener("timeupdate", onTimeUpdate);
        this.addEventListener("timeupdate", onTimeUpdate);
      }
    );
    midrollPlayer.src([
      {
        src: item.src,
        type: "application/vnd.ms-sstr+xml",
      },
    ]);
  };
  init();
  sendMetrik("MidrollStart");
  onMount(() => {
    return () => {
      midrollPlayer.dispose();
    };
  });
</script>

{#if isAdVisible}
  <a
    class="overlay"
    bind:this={overlayRef}
    href={item.href}
    target="_blank"
    on:click={onClick}>
    <!-- svelte-ignore a11y-media-has-caption -->
    <video id="midroll" class="azuremediaplayer amp-default-skin" playsinline />

    {#if isTimerVisible}
      <img src={`${BASE_URL}/images/skip.png`} alt="cards" class="continue" />
      <div class="timer">
        <Timer on:timerend={timerEnd} duration={5} />
      </div>
      {#if isRssVisible}
        <div
          class="rss"
          in:fly|local={{ x: containerWidth }}
          out:fly|local={{ x: containerWidth *0.5}}
          style={`font-size:${containerWidth * 0.015}px;margin-bottom:${containerWidth * 0.009}px`}>
          Кликните для перехода на сайт рекламодателя
        </div>
      {/if}
    {:else}
      <div class="closeButton" on:click|preventDefault={onVideoEnd}>
        <img
          src={`${BASE_URL}/images/continuewhite.png`}
          alt="continue"
          class="closeImage" />
        <div class="shine" style={`border-radius:${containerWidth * 0.05}px`} />
      </div>
    {/if}
  </a>
{/if}

<style>
  .rss {
    position: absolute;
    z-index: 99;
    top: 1%;
    right: 2%;
    /* transform: translateX(-50%); */
    background: #1f1f1f;
    padding: 16px;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 0.5px 1.5px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 0.5px 1.5px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    color: white;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }
  .timer {
    width: 4.75%;
    position: absolute;
    bottom: 17%;
    right: 16.1%;
  }
  .continue {
    width: 20.4%;
    position: absolute;
    bottom: 16%;
    right: 1%;
    cursor: pointer;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .overlay :global(video),
  .overlay :global(.azuremediaplayer) {
    outline: none;
  }
  .closeButton {
    position: absolute;
    bottom: 16%;
    right: 1%;
    z-index: 90001;
    width: 23%;
    padding-top: 5.6%;
  }
  .closeImage {
    position: absolute;
    width: 100%;
    top: 0%;
    right: 1%;
  }
  .shine {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .shine:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.1) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }
</style>
