<script>
  import { onMount } from "svelte";
  import { fly } from "svelte/transition";
  import { sendMetrik, externalLink, iframeLink } from "../helpers";
  export let containerWidth;
  export let myPlayer;
  export let item;

  sendMetrik("BannerShow", { "Gambler.BannerShowLink": item.href });
  const onClick = () => {
    myPlayer.pause();
    myPlayer.controlBar.el_.style.display = "";
    sendMetrik("BannerClick", { "Gambler.BannerClickLink": item.href });  
    if(item.showInIframe){
      e.preventDefault();
      $iframeLink = item.href;
    } else {
      $externalLink = item.href;
    }
  };

  $: blockStyle = `width: ${item.width}%; padding: ${
    containerWidth * item.paddingVertical
  }px ${containerWidth * item.paddingHorizontal}px; top:${item.top}%; right: ${
    item.right
  }%;`;
  let timeoutId;
  onMount(() => {
    if (item.needPause) {
      myPlayer.pause();
      timeoutId = setTimeout(() => myPlayer.play(), 2000);
    }
    return () => {
      clearTimeout(timeoutId);
    };
  });
</script>

<a class="rss shine" in:fly|local={{ x: containerWidth }} style={blockStyle} href={item.href} target="_blank" on:click={onClick}>

    <img
      src={item.src}
      alt="logo"
      style={`width:${containerWidth * item.imageWidth}px; margin-right:${containerWidth * 0.035}px;`} />
    <div class="details">
      <div
        style={`font-size:${containerWidth * item.fontSize}px;margin-bottom:${containerWidth * 0.009}px`}
        class="title">
        {item.title}
      </div>

      <div style={`font-size:${containerWidth * item.fontSize}px`} class="text">
        {item.text}
      </div>
    </div>

</a>

<style>
  .rss {
    position: absolute;
    z-index: 99;
    top: 1%;
    right: 2%;
    box-sizing: border-box;
    /* transform: translateX(-50%); */
    background: rgba(0, 0, 0, 0.9);
    padding: 16px;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 0.5px 1.5px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 0.5px 1.5px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
      font-size: 12px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
  }

 
  .title {
    color: white;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }

  .text {
    color: #a0a0a0;
    font-family: "Rubik", sans-serif;
  }
  .shine {
    position: absolute;
    z-index: 99;
    overflow: hidden;
  }
  .shine:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.1) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }
</style>
