<script context="module">
  const getFeed = (url) => {
    return fetch("https://screenlife.tech/gambler/rss.php?url=" + url)
      .then((response) => response.text())
      .then((str) => new window.DOMParser().parseFromString(str, "text/xml"))
      .then((data) => {
        return [...data.querySelectorAll("channel item")].map((item) => ({
          title: item.querySelector("title").textContent,
          description: item.querySelector("description").textContent,
          link: item.querySelector("link").textContent,
          pubDate: item.querySelector("pubDate").textContent,
        }));
      });
  };
  let newsTele = [];
  let news7days = [];
  getFeed("https://teleprogramma.pro/edition-rss/").then(
    (data) => (newsTele = data)
  );
  getFeed("https://7days.ru/rss/yandex/news").then(
    (data) => (news7days = data)
  );
</script>

<script>
  import { fly } from "svelte/transition";
  import { sendMetrik, externalLink, iframeLink, BASE_URL } from "../helpers";
  export let containerWidth;
  export let myPlayer;
  export let item;
  $: news = item.rssType === "tele" ? newsTele : news7days;
  sendMetrik("RssShow");
  const onClick = (e) => {
    e.preventDefault();
    $iframeLink = news[0].link;
    sendMetrik("RssClick");
    myPlayer.pause();
  };
  const outroend = () => {
    if (item.rssType === "tele") {
      newsTele = newsTele.slice(1);
    } else {
      news7days = news7days.slice(1);
    }
  };
  $: blockStyle = `width: ${containerWidth * 0.5}px; padding: ${
    containerWidth * 0.022
  }px ${containerWidth * 0.017}px;border-radius:${containerWidth * 0.0122}px`;
</script>

<div
  class="rss"
  class:white={item.rssType==='7days'}
  transition:fly|local={{ x: containerWidth }}
  on:outroend={outroend}
  style={blockStyle}>
  <a href={news[0].link} target="_blank" class="link" on:click={onClick}>
    <img
      src={`${BASE_URL}/images/${item.rssType==='tele' ? 'teleprogramma.png' : '7days.png'}`}
      alt="logo"
      style={`width:${containerWidth * 0.045}px; margin-right:${containerWidth * 0.02}px; margin-top:${containerWidth * 0.009}px`} />
    <div class="details">
      <div
        style={`font-size:${containerWidth * 0.015}px;margin-bottom:${containerWidth * 0.009}px`}
        class="title">
        {item.rssType==='tele' ? 'Teleprogramma.pro' : '7days.ru'}
      </div>

      <div style={`font-size:${containerWidth * 0.015}px`} class="text">
        {news[0].title}
      </div>
    </div>
  </a>
</div>

<style>
  .rss {
    position: absolute;
    z-index: 99;
    top: 1%;
    right: 2%;
    /* transform: translateX(-50%); */
    background: #1f1f1f;
    padding: 16px;
    -webkit-filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 0.5px 1.5px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 0.5px 1.5px rgba(0, 0, 0, 0.08)),
      drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.1));
  }
  .rss.white{
    background: white;
  }
  .link {
    font-size: 12px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
  }
  .title {
    color: white;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
  }
  .white .title{
    color: black;
  }
  .text {
    color: #a0a0a0;
    font-family: "Rubik", sans-serif;
  }
  .white .text{
    color: black;
  }
</style>
