<script>
  import {
    BASE_URL,
    sendMetrik,
    adDisabled,
    activeIndex,
    players,
    location1,
  } from "../helpers";
  import { onMount } from "svelte";
  import Timer from "../Interactive/Timer.svelte";
  export let myPlayer;
  myPlayer.pause();
  const variants = {
    uralochka: {
      spb:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/f64b175b-a2b0-4248-9f54-8a96881401c1/Gambler Otvet1 Uralochka Otvet2 .ism/manifest",

      mom:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/0f1e695e-3d45-45e0-aac2-2a69aac86374/1ural2m.ism/manifest",

      krym:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/a38df08a-83c1-4f21-ab96-bbd6cdbeb4a2/Gambler Otvet1 Uralochka Otvet2 .ism/manifest",
    },
    spb: {
      mom:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/503152b7-f5e4-41bb-a6c3-914f4b5b8cea/Gambler Otvet1 SaintPetersburg O.ism/manifest",

      uralochka:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/2f29ea3c-3986-401c-8202-522d791655da/Gambler Otvet1 SaintPetersburg O.ism/manifest",

      krym:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/507010ae-7c54-45e5-85aa-1788e81dbacd/Gambler Otvet1 SaintPetersburg O.ism/manifest",
    },
    mom: {
      spb:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/7f9e9dff-47b0-41c1-8365-d4610d12b33a/Gambler Otvet1 Mama Otvet2 Saint.ism/manifest",

      uralochka:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/395e9576-48ce-428b-8e4c-b65bed620326/Gambler Otvet1 Mama Otvet2 Uralo.ism/manifest",

      krym:
        "https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/6f44c733-e2cb-4b71-8f6f-c78959600234/Gambler Otvet1 Mama Otvet2 Krym.ism/manifest",
    },
  };
  const selectChapter = (chapter) => {
    sendMetrik('SelectChapterTwo', {'Gambler.SelectChapterName': chapter})
    myPlayer.controlBar.el_.style.display = "";
    $players[$activeIndex + 1].src({
      src: variants[$location1][chapter],
      type: "application/vnd.ms-sstr+xml",
    });
    $activeIndex += 1;
    setTimeout(() => $players[$activeIndex].play(), 10);
  };
  onMount(() => {
    myPlayer.controlBar.el_.style.display = "none";
    return () => {
      myPlayer.controlBar.el_.style.display = "";
    };
  });
  const onSkip = ()=>{
    myPlayer.controlBar.el_.style.display = "";
    $activeIndex +=1;
  }
</script>

<div class="container appear">
  <img src={`${BASE_URL}/images/chip3.png`} alt="chip1" class="chip3" />
  <img src={`${BASE_URL}/images/chip1.png`} alt="chip1" class="chip1" />
  <img src={`${BASE_URL}/images/chip4.png`} alt="chip1" class="chip4" />
  <img src={`${BASE_URL}/images/chip2.png`} alt="chip1" class="chip2" />
  <img src={`${BASE_URL}/images/logo.png`} alt="logo" class="logo" />
  <img src={`${BASE_URL}/images/wheretogo.png`} alt="cards" class="cards" />
  <div class="buttonContainer">
    {#each Object.keys(variants[$location1]) as key}
      <img
        src={`${BASE_URL}/images/${key}.png`}
        alt="logo"
        class="button"
        on:click={() => selectChapter(key)} />
    {/each}
  </div>

  <img
  on:click={onSkip}
  src={`${BASE_URL}/images/continueblack.png`}
  alt="cards"
  class="continue appear" />
<div class="timer">
  <Timer on:timerend={onSkip} duration={10} />
</div>
</div>

<style>
   .timer {
    width: 3.75%;
    position: absolute;
    bottom: 8.1%;
    right: 57.5%;
  }
  .continue {
    width: 23.88%;
    position: absolute;
    bottom: 7%;
    right: 38%;
    cursor: pointer;
  }
  .buttonContainer {
    position: absolute;
    top: 59%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 8%;
  }
  .button {
    cursor: pointer;
    height: 100%;
    margin: 0 0.5%;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 56%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
  }

  .cards {
    position: absolute;
    position: absolute;
    width: 46%;
    top: 43%;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo {
    position: absolute;
    width: 17%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .chip1 {
    position: absolute;
    bottom: -7%;
    left: 2%;
    width: 13%;
    animation: chip1 12s linear infinite;
  }
  .chip2 {
    position: absolute;
    bottom: -5%;
    right: -2%;
    width: 15%;
    animation: chip2 15s ease-in-out infinite;
  }
  .chip3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    animation: chip3 13s ease-in-out infinite;
  }
  .chip4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 13%;
    animation: chip4 15s ease-in-out infinite;
  }
  .appear {
      opacity: 0;
    animation: appear 0.5s ease-in-out forwards;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes chip1 {
    0%,
    100% {
      transform: translate(0%, 0%) rotate(0);
      transform-origin: 50% 50%;
    }
    33% {
      transform: translate(-15%, 30%) rotate(15deg);
    }
    66% {
      transform: translate(15%, -30%) rotate(-15deg);
    }
  }

  @keyframes chip2 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    13% {
      transform: translateX(-2%) translateY(-28%) rotate(-30deg);
    }
    30% {
      transform: translateX(-2%) translateY(15%) rotate(-5deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    76% {
      transform: translateY(6%) rotate(5deg);
    }
    80% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
  @keyframes chip3 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-30%) rotate(-6deg);
    }
    30% {
      transform: translateY(15%) rotate(6deg);
    }
    45% {
      transform: translateY(-15%) rotate(-3.6deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    75% {
      transform: translateY(-6%) rotate(-1.2deg);
    }
    95% {
      transform: translateY(9%) rotate(5deg);
    }
  }
  @keyframes chip4 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    20% {
      transform: translateY(-30%) rotate(-30deg);
    }
    35% {
      transform: translateY(15%) rotate(-6deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    85% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
  @keyframes heartbeat {
    from {
      transform: translateX(-50%) scale(1);

      transform-origin: center center;

      animation-timing-function: ease-out;
    }
    10% {
      transform: translateX(-50%) scale(0.91);

      animation-timing-function: ease-in;
    }
    17% {
      transform: translateX(-50%) scale(0.98);

      animation-timing-function: ease-out;
    }
    33% {
      transform: translateX(-50%) scale(0.87);

      animation-timing-function: ease-in;
    }
    45% {
      transform: translateX(-50%) scale(1);

      animation-timing-function: ease-out;
    }
  }
</style>
