<script>
  import { BASE_URL, sendMetrik, adDisabled, activeIndex, players, location1 } from "../helpers";
  import { onMount } from "svelte";
  import Timer from "../Interactive/Timer.svelte";
  export let myPlayer;
  myPlayer.pause();
  const variants = {
      uralochka: 'https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/5855ef06-477f-4543-9145-41c14c60528b/1ural.ism/manifest',
      spb:'https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/6551d6c7-1e9a-477d-a3f6-8650a2f860c3/Gambler Otvet1 SaintPetersburg.ism/manifest',
      mom: 'https://slcinema-endpoint-slcinema-euno.streaming.media.azure.net/3f9550f2-afda-4c6b-9bc0-a67708a060d6/Gambler Otvet 1 Mama.ism/manifest'
  }
  const selectChapter = (chapter)=>{
      sendMetrik('SelectChapterOne', {'Gambler.SelectChapterName': chapter})
      $location1=chapter;
    myPlayer.controlBar.el_.style.display = "";
      $players[$activeIndex+1].src(
      {
        src: variants[chapter],
        type: "application/vnd.ms-sstr+xml",
      },
    );
    $activeIndex +=1;
    setTimeout(()=>$players[$activeIndex].play(),10);
    
  }
  onMount(()=>{
    myPlayer.controlBar.el_.style.display = "none";
    return ()=>{
        myPlayer.controlBar.el_.style.display = "";
    } 
  })
  const onSkip = ()=>{
    myPlayer.controlBar.el_.style.display = "";
    $activeIndex +=1;
  }
</script>

<div class="container appear">
  <img src={`${BASE_URL}/images/chip3.png`} alt="chip1" class="chip3" />
  <img src={`${BASE_URL}/images/chip1.png`} alt="chip1" class="chip1" />
  <img src={`${BASE_URL}/images/chip4.png`} alt="chip1" class="chip4" />
  <img src={`${BASE_URL}/images/chip2.png`} alt="chip1" class="chip2" />
  <img src={`${BASE_URL}/images/logo.png`} alt="logo" class="logo" />
  <img src={`${BASE_URL}/images/wheretogo.png`} alt="cards" class="cards" />

  <img src={`${BASE_URL}/images/uralochaimg.png`} alt="logo" class="uralochaimg" on:click={()=>selectChapter('uralochka')}/>
  <img src={`${BASE_URL}/images/spbimg.png`} alt="logo" class="spbimg" on:click={()=>selectChapter('spb')}/>
  <img src={`${BASE_URL}/images/momimg.png`} alt="logo" class="momimg" on:click={()=>selectChapter('mom')}/>

  <img src={`${BASE_URL}/images/uralochka.png`} alt="logo" class="uralochka" on:click={()=>selectChapter('uralochka')}/>
  <img src={`${BASE_URL}/images/spb.png`} alt="logo" class="spb" on:click={()=>selectChapter('spb')}/>
  <img src={`${BASE_URL}/images/mom.png`} alt="logo" class="mom" on:click={()=>selectChapter('mom')}/>

  <img
      on:click={onSkip}
      src={`${BASE_URL}/images/continueblack.png`}
      alt="cards"
      class="continue appear" />
    <div class="timer">
      <Timer on:timerend={onSkip} duration={10} />
    </div>
</div>

<style>
    .timer {
    width: 3.75%;
    position: absolute;
    bottom: 8.1%;
    right: 57.5%;
  }
  .continue {
    width: 23.88%;
    position: absolute;
    bottom: 7%;
    right: 38%;
    cursor: pointer;
  }
     .uralochaimg{
         cursor: pointer;
        position: absolute;
        top: 35%;
        left: 27%;
        width: 14.6%;
    }
    .spbimg{
        cursor: pointer;
        position: absolute;
        top: 35%;
        left: 42.5%;
        width: 14.6%;
    }
    .momimg{
        cursor: pointer;
        position: absolute;
        top: 35%;
        left: 58%;
        width: 14.6%;
    }

    .uralochka{
        cursor: pointer;
        position: absolute;
        top: 65%;
        left: 27%;
        width: 14.6%;
    }
    .spb{
        cursor: pointer;
        position: absolute;
        top: 65%;
        left: 42.5%;
        width: 14.6%;
    }
    .mom{
        cursor: pointer;
        position: absolute;
        top: 65%;
        left: 58%;
        width: 14.6%;
    }

  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 56%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
  }
  .appear {
      opacity: 0;
    animation: appear 0.5s ease-in-out forwards;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


  .cards {
    position: absolute;
    position: absolute;
    width: 46%;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
  }
  .logo {
    position: absolute;
    width: 17%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .chip1 {
    position: absolute;
    bottom: -7%;
    left: 2%;
    width: 13%;
    animation: chip1 12s linear infinite;
  }
  .chip2 {
    position: absolute;
    bottom: -5%;
    right: -2%;
    width: 15%;
    animation: chip2 15s ease-in-out infinite;
  }
  .chip3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    animation: chip3 13s ease-in-out infinite;
  }
  .chip4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 13%;
    animation: chip4 15s ease-in-out infinite;
  }

  @keyframes chip1 {
    0%,
    100% {
      transform: translate(0%, 0%) rotate(0);
      transform-origin: 50% 50%;
    }
    33% {
      transform: translate(-15%, 30%) rotate(15deg);
    }
    66% {
      transform: translate(15%, -30%) rotate(-15deg);
    }
  }

  @keyframes chip2 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    13% {
      transform: translateX(-2%) translateY(-28%) rotate(-30deg);
    }
    30% {
      transform: translateX(-2%) translateY(15%) rotate(-5deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    76% {
      transform: translateY(6%) rotate(5deg);
    }
    80% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
  @keyframes chip3 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-30%) rotate(-6deg);
    }
    30% {
      transform: translateY(15%) rotate(6deg);
    }
    45% {
      transform: translateY(-15%) rotate(-3.6deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    75% {
      transform: translateY(-6%) rotate(-1.2deg);
    }
    95% {
      transform: translateY(9%) rotate(5deg);
    }
  }
  @keyframes chip4 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    20% {
      transform: translateY(-30%) rotate(-30deg);
    }
    35% {
      transform: translateY(15%) rotate(-6deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    85% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
  @keyframes heartbeat {
    from {
      transform: translateX(-50%) scale(1);

      transform-origin: center center;

      animation-timing-function: ease-out;
    }
    10% {
      transform: translateX(-50%) scale(0.91);

      animation-timing-function: ease-in;
    }
    17% {
      transform: translateX(-50%) scale(0.98);

      animation-timing-function: ease-out;
    }
    33% {
      transform: translateX(-50%) scale(0.87);

      animation-timing-function: ease-in;
    }
    45% {
      transform: translateX(-50%) scale(1);

      animation-timing-function: ease-out;
    }
  }
</style>
