<script>
  import { onMount } from "svelte";
  import { sendMetrik, externalLink, iframeLink } from "../helpers";
  import { playSound } from "../Audio.svelte";
  export let item;
  export let myPlayer;
  export let containerWidth;
  const isVkLink = item.href.startsWith("https://vk.com");
  sendMetrik(isVkLink ? "VkShow" : "BannerShow", {
    [isVkLink ? "Gambler.VkShowLink" : "Gambler.BannerShowLink"]: item.href,
  });
  const onClick = (e) => {
    if(item.showInIframe){
      e.preventDefault();
      $iframeLink = item.href;
    } else {
      $externalLink = item.href;
    }
    sendMetrik(isVkLink ? "VkClick" : "BannerClick", {
      [isVkLink ? "Gambler.VkClickLink" : "Gambler.BannerClickLink"]: item.href,
    });
    myPlayer.pause();
    myPlayer.controlBar.el_.style.display = "";
  };

  $: borderRadius = item.withoutBorder ? 0 : containerWidth * 0.05;

  $: style = `width:${item.width}%; left:${item.left}%; top: ${item.top}%; padding-top: ${item.paddingTop}%; border-radius:${borderRadius}px;`;

  onMount(() => {
    if (item.needPause) {
      // document.querySelector(".vjs-control-bar").style.opacity = 0;
      const onPlay = () => {
        myPlayer.pause();
      };
      playSound("vk", () => {
        myPlayer.removeEventListener("play", onPlay);
        myPlayer.play();
      });
      myPlayer.addEventListener("play", onPlay);
      myPlayer.pause();
    }
    if (item.hideControls) {
      myPlayer.controlBar.el_.style.display = "none";
    }
    return () => {
      myPlayer.controlBar.el_.style.display = "";
    };
  });
</script>

<a target="_blank" rel="nofollow" href={item.href} on:click={onClick}>
  <div class="zone shine" {style} class:whiteShadow={item.color === 'white'} />
  <!-- <div class="zone" style={`${style} ${whiteShadow}`} /> -->
</a>

<style>
  .zone {
    position: absolute;
    z-index: 99;

    /* background: rgba(85, 214, 230); */
  }

  .shine {
    position: absolute;

    overflow: hidden;
  }
  .shine:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(38, 135, 244, 0.1) 45%,
      rgba(38, 135, 244, 0.5) 50%,
      rgba(38, 135, 244, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  .whiteShadow::before {
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.2) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.2) 55%,
      transparent 60%,
      transparent 100%
    );
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }
</style>
