<script>

  import PulseButton from "./components/PulseButton.svelte";
  import Amount from "./components/Amount.svelte";
  // import AudioFiles from "./components/AudioFiles.svelte";
  import HeadFiles from "./components/HeadFiles.svelte";
  import "./helpers/points";
  // import { sayHelloIfVisible, playSound } from "./helpers";
  import { amount } from "./store";

  let appRef = null;
  export let clientWidth;
  // $: {
  //   if (appRef) sayHelloIfVisible(appRef, y);
  // }
  const handleVisibilityChange = () => {
    $amount = 0;
  };
  window.addEventListener("blur", handleVisibilityChange, false);
  // document.body.addEventListener("click", ()=>{
  //   if($amount === 0) {
  //     console.log('unlock')
  //     playSound(null)
  //   }
  // }, false);
</script>

<div class="sunflowerApp" bind:this={appRef}>

  <Amount {clientWidth}/>

  <PulseButton {clientWidth}/>
  <!-- <AudioFiles /> -->
</div>


<HeadFiles />

<style>
  .sunflowerApp {
    position: absolute;
    top: 13%;
    right: 18%;
    width: 21.6%;
    height: 70%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "corsica", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #191919;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
 
</style>
