<script>
  import { iframeLink, BASE_URL, sendMetrik } from "./helpers";
  const skipAd = () => {
    sendMetrik('AdReturn', {'Gambler.AdReturnLink': $iframeLink})
    $iframeLink = null;
    window.azure.play();
  };
</script>

{#if $iframeLink}
  <div class="container">
    <div class="header">
      <div class="closeButton" on:click={skipAd}>
        <img
          src={`${BASE_URL}/images/continuewhite.png`}
          alt="continue"
          class="closeImage" />
        <div class="shine" />
      </div>
    </div>
    <iframe
      src={$iframeLink}
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen=""
      title="externalLink" />
  </div>
{/if}

<style>
  .header {
    display: flex;
    justify-content: center;
    padding: 16px;
  }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    display: flex;
    flex-direction: column;
    z-index: 99;
  }
  iframe {
    flex-grow: 1;
  }
  .closeButton {
    position: relative;
    cursor: pointer;
    
  }
  .closeImage{
    display: block;
    width: 198px;
  }
  .shine {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }
  .shine:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.1) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }
</style>
