<script>
  import Video from "./Video.svelte";
  import sequence from "./sequence";
  import { onMount } from "svelte";
  import Audio from "./Audio.svelte";
  import {isIos, gameWon } from "./helpers";
  import {sendMetrik, externalLink, activeIndex} from './helpers'
  import Header from './Header.svelte'
  import AdContainer from './AdContainer.svelte'
  import DebugControls from './DebugControls.svelte'
  import "fullscreen-api-polyfill";
  
  let containerRef;
  let isFullScreen = false;
  let isFullScreenIos = false;
  
  const nextVideo = () => {
    if ($activeIndex === sequence.length - 1) return;
    if($gameWon && sequence[$activeIndex+1].skipIfPlayed){
      $activeIndex += 2;
    } else {
      $activeIndex += 1;
    }
    
  };
  const onFullScreen = (event) => {
    if (
      event === 'payment' || 
      event.target.classList.contains("vjs-fullscreen-control") ||
      event.target.parentElement.classList.contains("vjs-fullscreen-control")
    ) {
      if (isIos()) {
        isFullScreenIos = !isFullScreenIos;
        return;
      }
      if (
        document.fullscreenElement ||
        document.webkitCurrentFullScreenElement
      ) {
        isFullScreen = false;
        document.exitFullscreen();
      } else {
        isFullScreen = true;
        containerRef.requestFullscreen();
      }
    }
  };
  
  const onExitFullScreen = ()=>{
    isFullScreen =  document.fullscreenElement ||
        document.webkitCurrentFullScreenElement;
  }
  const onWindowFocus = ()=>{
    parent.postMessage('startPlayer', "*");
    if($externalLink){
      sendMetrik('AdReturn', {'Gambler.AdReturnLink': $externalLink})
    }
    $externalLink = ''
  }
  const onWindowBlur = ()=> window.azure.pause();
  
  const sendMessageToParent = (event)=>{
      if(event.target.tagName === 'BODY' || event.target.id==='gambler'){
        parent.postMessage('closePlayer', "*");
        window.azure.pause();
      } else {
        parent.postMessage('startPlayer', "*");
      }
    }
  onMount(() => {
    document.body.addEventListener('click', sendMessageToParent, true)
    document.body.addEventListener('touchstart', sendMessageToParent, true)
    window.addEventListener('focus', onWindowFocus)
    window.addEventListener('blur', onWindowBlur)
    setTimeout(()=>sendMetrik('Visible'), 2000);
    containerRef.addEventListener("click", onFullScreen, true);
    document.addEventListener("fullscreenchange", onExitFullScreen);
    document.addEventListener("webkitfullscreenchange", onExitFullScreen);
    // containerRef.addEventListener("touchstart", onFullScreen, true);
    
    return () => {
      window.removeEventListener('focus', onWindowFocus)
      containerRef.removeEventListener("click", onFullScreen);
      document.removeEventListener("fullscreenchange", onExitFullScreen);
      document.removeEventListener("webkitfullscreenchange", onExitFullScreen);
      window.removeEventListener('blur', onWindowBlur)
    };
  });
  let innerHeight;
  $: style =  isIos() ? `max-width:${innerHeight / 0.58}px` : '';
</script>

<DebugControls/>

<div
  {style}
  class="container"
  bind:this={containerRef}
  class:isFullScreen
  class:isFullScreenIos
  class:isIos={isIos()}>
  {#each sequence as video, i (video.src + video.episode)}
    <!-- {#if i <= $activeIndex + 2} -->
    <Video
      index={i}
      showPoster={i===0}
      settings={video}
      isActive={$activeIndex === i}
      onEnd={nextVideo}
      {isFullScreenIos}
       />
      <!-- {/if} -->
  {/each}
  <AdContainer/>
</div>

<svelte:window bind:innerHeight />

<Audio/>
<Header/>
<style>
  .container {
    margin: 0 auto;
    max-width: 900px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  .isFullScreen {
    max-width: 100%;
    width: 100vw;
    background: black;
  }
  @media (orientation: portrait) {
    .isFullScreenIos {
      z-index: 99;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      max-width: 100vw;
    }
  }
  @media (orientation: landscape) {
    .container.isIos :global(.vjs-fullscreen-control){
      display: none;
    }
  }
</style>
