<script context="module">
  import 'whatwg-fetch'
  const audioFiles = {
    vk: ["GAMBLER Narrator 201226 to Player 01_1"],
    promo1: ["GAMBLER Narrator 201226 to Player 02_1"],
    promo2: ["GAMBLER Narrator 201226 to Player 03_1"],
    gameWon: ["GAMBLER Narrator 201226 to Player 04_1"],
  };

  const audioBlobs = {};
  (() => {
    Object.keys(audioFiles).forEach((type) => {
      audioFiles[type].forEach((item, i) => {
        fetch(`${BASE_URL}/assets/${item}.mp3`)
          .then((res) => res.blob())
          .then((blob) => window.URL.createObjectURL(blob))
          .then((blob) => {
            if (!audioBlobs[type]) audioBlobs[type] = [];
            audioBlobs[type].push(blob);
          });
      });
    });
  })();
  let audioElement;

  export const playSound = async (type, callback = () => {}) => {
    const onEnd = () => {
      audioElement.removeEventListener("ended", onEnd);
      if (typeof callback === "function") callback();
    };
    audioElement.addEventListener("ended", onEnd);
    try {
      audioElement.muted = true;
      audioElement.play();
      audioElement.pause();
      audioElement.muted = false;
      audioElement.currentTime = 0;
    } catch (err) {
      // nothing to do
    }

    const auidoItem = audioBlobs[type]
      ? audioBlobs[type][Math.floor(Math.random() * audioBlobs[type].length)]
      : null;
    if (!auidoItem) return;
    audioElement.src = auidoItem;
    audioElement.play();
  };

  export const stopSound = ()=>{
    audioElement.pause();
  }
</script>

<script>
  import { onMount } from "svelte";
  import { BASE_URL } from "./helpers";
  let isAudioUnlocked = false;
  const unlockAudio = () => {
    if (isAudioUnlocked) return;
    playSound(null)
    isAudioUnlocked = true;
    document.body.removeEventListener("click", unlockAudio);
    document.body.removeEventListener("touchstart", unlockAudio);
  };
  onMount(() => {
    document.body.addEventListener("click", unlockAudio, true);
    document.body.addEventListener("touchstart", unlockAudio, true);
    return () => {
      document.body.removeEventListener("click", unlockAudio);
      document.body.removeEventListener("touchstart", unlockAudio);
    };
  });
</script>

<!-- svelte-ignore a11y-media-has-caption -->
<audio bind:this={audioElement} preload>
  <source
    src={`${BASE_URL}/assets/GAMBLER Narrator 201226 to Player 01_1.mp3`}
    type="audio/mpeg" />
</audio>
