{#if window.location.href === 'http://localhost:5000/'}
  <div class="debug">
    <button
      on:click={() => window.azure.currentTime(window.azure.currentTime() + 1)}>+1</button>
    <button
      on:click={() => window.azure.currentTime(window.azure.currentTime() - 1)}>-1</button>
    <button
      on:click={() => window.azure.currentTime(window.azure.currentTime() + 0.1)}>+0.1</button>
    <button
      on:click={() => window.azure.currentTime(window.azure.currentTime() - 0.1)}>-0.1</button>
    <button
      on:click={() => console.log(window.azure.currentTime())}>log</button>
  </div>
{/if}

<style>
  .debug {
    position: fixed;
    top: 8px;
    left: 8px;
  }
</style>
