<script>
  import { onMount } from "svelte";
  import {gameWon, gameClosed, gameSkipped, BASE_URL} from './helpers'
  export let gameUrl;
  export let closeGame;
  export let isGameOpen;
  export let episode = 1;
  export let isShowPromo
  let timerId;
  let clientWidth;
  
  import { sendMetrik } from "./helpers";
  const onClose = () => {
    $gameClosed = true;
    
    if($gameSkipped){
      isShowPromo = true;
    } else {
      closeGame();
    }
    sendMetrik("GameAdBack", { "Gambler.GameAdBackEpisode": episode });
    
  };
  const onMessage = (event) => {
    if (event.data === "closeGame" && gameUrl) {
      clearTimeout(timerId)
      timerId = setTimeout(()=>{
        $gameWon = true;
        isShowPromo = true;
        
      }, 500)
    }
  };
  onMount(() => {
    window.addEventListener("message", onMessage);
    return () => window.removeEventListener("message", onMessage);
  });
</script>

{#if isGameOpen && !isShowPromo}
  <div class="gameContainer" bind:clientWidth={clientWidth}>
    <iframe frameborder="0" title="poker" src={gameUrl} class="iframe" />
    <div class="closeButton" on:click={onClose}>
      <img src={`${BASE_URL}/images/continuewhite.png`} alt='continue' class="closeImage"/>
      <div class="shine" style={`border-radius:${clientWidth*0.05}px`}/>
    </div>
    
    
  </div>
{/if}

<style>
  .iframe {
    background: #2b2b30;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .gameContainer {
    position: absolute !important;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 56%;
    transform: translateY(-50%);
    z-index: 90000;
  }

  .closeButton {
    position: absolute;
    top: 1%;
    right: 7px;
    z-index: 90001;
    width: 24%;
    cursor: pointer;
    padding-top: 5.9%;
  }
  .closeImage{
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0;
  }
  @media (max-width: 600px) {
    .closeButton {
      padding-top: 7.5%;
    width: 31%;
    }
  }
  @media (max-height: 500px) {
    .closeButton {
      padding-top: 7.5%;
    width: 31%;
    }
  }
  .shine {
    position: absolute;
    z-index: 99;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .shine:before {
    content: "";
    z-index: 10;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;
    background: linear-gradient(
      130deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.1) 45%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.1) 55%,
      transparent 60%,
      transparent 100%
    );
    animation: shine 1.5s linear infinite forwards;
  }
  @keyframes shine {
    0% {
      transform: translateX(-60%);
    }

    100% {
      transform: translateX(60%);
    }
  }
</style>
