<script>
  import { BASE_URL, IS_TEST } from "./helpers";
</script>

<svelte:head>
  <link
    href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css"
    rel="stylesheet" />
  <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js">
  </script>
  <link rel="preload" href={`${BASE_URL}/images/chip1.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/chip2.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/chip3.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/chip4.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/button.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/cards.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/continue.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/help1.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/help2.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/logo.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/credits.png`} as="image" />
  <link rel="preload" href={`${BASE_URL}/images/charitybg.jpg`} as="image" />
  <script>
    (function (m, e, t, r, i, k, a) {
      m[i] =
        m[i] ||
        function () {
          (m[i].a = m[i].a || []).push(arguments);
        };
      m[i].l = 1 * new Date();
      (k = e.createElement(t)),
        (a = e.getElementsByTagName(t)[0]),
        (k.async = 1),
        (k.src = r),
        a.parentNode.insertBefore(k, a);
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(70641691, "init", {
      clickmap: false,
      trackLinks: false,
      accurateTrackBounce: true,
      webvisor: false,
    });
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9E56DRM245">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-9E56DRM245", {
      linker: {
        domains: ["igra.film", "screenlife.tech"],
      },
    });
  </script>
</svelte:head>
