<script>
  import { activeIndex, players, activePlayerCurrentTime, isIpadOS } from "./helpers";
  import sequence from "./sequence";
  const totalDuration = sequence.reduce(
    (memo, item) => memo + (item.duration || 0),
    0
  );
  const convertToTime = (seconds) => {
    return new Date((seconds || 0) * 1000).toISOString().substr(11, 8);
  };
  $: min = 0;
  $: max = totalDuration;
  let style = "";
  let sliderRef;
  let isSliderActive = false;
  $: {
    const percent = ((currentTime - min) / (max - min)).toFixed(2);
    style = `background-image: -webkit-gradient(linear, left top, right top, color-stop(${percent}, #FF1C1C), color-stop(${percent}, #272729))`;
  }
  let currentTime = 0;
  $: {
    if (!isSliderActive) {
      currentTime =
        sequence.reduce((memo, item, i) => {
          return $activeIndex > i ? memo + (item.duration || 0) : memo;
        }, 0) + $activePlayerCurrentTime;
    }
  }
  let timeoutId;
  
  // const setActivePlayerCurrentTime = (value) => {
  //   clearTimeout(timeoutId);
    
  //   if ($players[$activeIndex] && $players[$activeIndex].videoHeight()) {
  //     $players[$activeIndex].currentTime(value);
  //     $players[$activeIndex].play()
      
     
  //   } else {
  //     timeoutId = setTimeout(() => setActivePlayerCurrentTime(value), 10);
  //   }
  // };
  const onChange = (e) => {
    let { value } = e.target;
    
    let durationSum = 0;
    for (let i = 0; i < sequence.length; i++) {
      durationSum += sequence[i].duration || 0;
      if (value < durationSum) {
        setTimeout(()=>$players[i].currentTime(value - (durationSum - (sequence[i].duration || 0))), 500);
        $activeIndex = i;
        $players.forEach((item, i) => {
          if (item && i !== $activeIndex) {
            try {
              item.pause();
            } catch (e) {}
          } else{
            item.play();
            item.controlBar.el_.style.display = "";
          }
        });
      
        break;
      }
    }
  };
  const lock = ()=>isSliderActive = true
  const release = (e)=>{
    onChange(e)
      isSliderActive = false
  }
</script>

<div class="container" class:isIpadOS={isIpadOS()}>
  <input
    on:mousedown={lock}
    on:mouseup={release}
    on:touchstart={lock}
    on:touchend={release}
    binf:this={sliderRef}
    type="range"
    bind:value={currentTime}
    {min}
    {max}
    
    step={1}
    {style} />
  <div class="time">
    {convertToTime(currentTime)}
    /
    {convertToTime(totalDuration)}
  </div>
</div>

<style>
  .isIpadOS{
    visibility: hidden;
  }
  .time {
    position: absolute;
    top: -3px;
    left: 7px;
    color: white;
  }
  .container {
    padding: 7px 0;
    
    position: relative;
  }
  /* https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider */
  input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 26px;
    padding: 0;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  /*Chrome thumb*/

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 2px;
    /*16x16px adjusted to be same as 14x14px on moz*/
    height: 26px;
    width: 20px;
    border-radius: 50%;
    background: #272729;
    opacity: 0;
  }

  /*Mozilla thumb*/

  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 2px;
    height: 26px;
    width: 20px;
    border-radius: 50%;
    background: #272729;
    opacity: 0;
  }

  /*IE & Edge input*/

  input[type="range"]::-ms-track {
    width: 100%;
    height: 26px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 2px 0;
    /*remove default tick marks*/
    color: transparent;
  }

  /*IE & Edge thumb*/

  input[type="range"]::-ms-thumb {
    height: 26px;
    width: 20px;
    border-radius: 50%;
    background: #272729;
    opacity: 0;
  }

  /*IE & Edge left side*/

  input[type="range"]::-ms-fill-lower {
    background: #ff1c1c;
    border-radius: 2px;
  }

  /*IE & Edge right side*/

  input[type="range"]::-ms-fill-upper {
    background: #272729;
    border-radius: 2px;
  }

  /*IE disable tooltip*/

  input[type="range"]::-ms-tooltip {
    display: none;
  }
</style>
