<script>
  import { fade } from "svelte/transition";
  import {
    BASE_URL,
    sendMetrik,
    externalLink,
    isCharityButtonPressed,
  } from "../helpers";
  import Charity from "../Charity/App.svelte";
  import Social from "./Social.svelte";

  export let currentTime;
  let clientWidth;
</script>

<div
  class="container "
  transition:fade|local={{ duration: 2000 }}
  bind:clientWidth>
  <div
    class="background"
    style={`background-image: url(${BASE_URL}/images/charitybg.jpg)`} />
  <div
    class="background2"
    style={`background-image: url(${BASE_URL}/images/charitybg.jpg)`} />
  <img
    src={`${BASE_URL}/images/dobromin.png`}
    alt="dobromin"
    class="dobromin" />
  <Charity {clientWidth} />
  <img src={`${BASE_URL}/images/live.png`} alt="live" class="live" />
  {#if currentTime > 49}
    <Social />
  {/if}
  {#if $isCharityButtonPressed}
  <a
  transition:fade|local
    href="https://apps.apple.com/ru/app/%D0%B4%D0%BE%D0%B1%D1%80%D0%BE%D0%BC%D0%B8%D0%BD-%D0%BA%D0%BD%D0%BE%D0%BF%D0%BA%D0%B0-%D1%81%D1%87%D0%B0%D1%81%D1%82%D1%8C%D1%8F/id1543294085"
    target="_blank"
    on:click={()=>sendMetrik('CharityAppClick', {"Gambler.CharityAppStore": 'appstore'})}
    ><img
      src={`${BASE_URL}/images/appstore.png`}
      alt="appstore"
      class="appstore" /></a>
  <a
  transition:fade|local
    href="https://play.google.com/store/apps/details?id=tech.screenlife.dbtn"
    target="_blank"
    on:click={()=>sendMetrik('CharityAppClick', {"Gambler.CharityAppStore": 'google play'})}
    ><img
      src={`${BASE_URL}/images/googleplay.png`}
      alt="googleplay"
      class="googleplay" /></a>
  {/if}
</div>

<style>
  .appstore {
    position: absolute;
    bottom: 16%;
    right: 30%;
    height: 7%;
  }
  .googleplay {
    position: absolute;
    bottom: 16%;
    right: 15%;
    height: 7%;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 56.25%;
    transform: translateY(-50%);
  }
  .background {
    position: absolute;
    top: 0;
    right: 0;
    width: 55.6%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 12.8%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: revert;
  }
  .dobromin {
    position: absolute;
    width: 14.53%;
    top: 7.84%;
    right: 21.78%;
  }
  .live {
    position: absolute;
    width: 13.76%;
    bottom: 7.17%;
    right: 22.38%;
  }
</style>
