<script>
  import { BASE_URL } from "../helpers";
  import Timer from "./Timer.svelte";
  import {sendMetrik} from '../helpers'
  export let nextVideo;
  export let openGame;
  export let duration;
  export let episode;
  let isTimerVisible = true;
  const timerEnd = () => (isTimerVisible = false);
  sendMetrik("GameAdShow");
  const onClick = () => {
    openGame();
    sendMetrik("GameAdClick", { "Gambler.GameAdClickEpisode": episode });
  };
  const onSkip = () => {
    sendMetrik("GameAdSkip", { "Gambler.GameAdSkipEpisode": episode });
    nextVideo();
  };
</script>

<div class="container appear">
  <img src={`${BASE_URL}/images/chip3.png`} alt="chip1" class="chip3" />
  <img src={`${BASE_URL}/images/chip1.png`} alt="chip1" class="chip1" />
  <img src={`${BASE_URL}/images/chip4.png`} alt="chip1" class="chip4" />
  <img src={`${BASE_URL}/images/chip2.png`} alt="chip1" class="chip2" />
  <img src={`${BASE_URL}/images/logo.png`} alt="logo" class="logo" />
  <img src={`${BASE_URL}/images/help1.png`} alt="cards" class="help1" />
  <img
    src={`${BASE_URL}/images/playpocker.png`}
    alt="cards"
    class="button"
    on:click={onClick} />
  {#if duration && isTimerVisible}
    <div class="timer">
      <Timer on:timerend={timerEnd} {duration} />
    </div>

    <img
      on:click={onSkip}
      src={`${BASE_URL}/images/continue.png`}
      alt="cards"
      class="continue appear" />
  {/if}
</div>

<style>
  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    overflow: hidden;

    padding-top: 56%;
    transform: translateY(-50%);
  }
  .appear {
    animation: appear 3s ease-in-out;
  }
  .timer {
    width: 4.75%;
    position: absolute;
    bottom: 21.1%;
    right: 27.5%;
  }
  .continue {
    width: 28.88%;
    position: absolute;
    bottom: 20%;
    right: 4%;
    cursor: pointer;
  }

  .button {
    position: absolute;
    width: 25%;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: heartbeat 1.5s ease-in-out infinite both;
  }

  @keyframes heartbeat {
    from {
      transform: translateX(-50%) scale(1);

      transform-origin: center center;

      animation-timing-function: ease-out;
    }
    10% {
      transform: translateX(-50%) scale(0.91);

      animation-timing-function: ease-in;
    }
    17% {
      transform: translateX(-50%) scale(0.98);

      animation-timing-function: ease-out;
    }
    33% {
      transform: translateX(-50%) scale(0.87);

      animation-timing-function: ease-in;
    }
    45% {
      transform: translateX(-50%) scale(1);

      animation-timing-function: ease-out;
    }
  }
  .help1 {
    position: absolute;
    width: 63%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo {
    position: absolute;
    width: 17%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .chip1 {
    position: absolute;
    bottom: -7%;
    left: 2%;
    width: 13%;
    animation: chip1 12s linear infinite;
  }
  .chip2 {
    position: absolute;
    bottom: -5%;
    right: -2%;
    width: 15%;
    animation: chip2 15s ease-in-out infinite;
  }
  .chip3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    animation: chip3 13s ease-in-out infinite;
  }
  .chip4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 13%;
    animation: chip4 15s ease-in-out infinite;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes chip1 {
    0%,
    100% {
      transform: translate(0%, 0%) rotate(0);
      transform-origin: 50% 50%;
    }
    33% {
      transform: translate(-15%, 30%) rotate(15deg);
    }
    66% {
      transform: translate(15%, -30%) rotate(-15deg);
    }
  }

  @keyframes chip2 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    13% {
      transform: translateX(-2%) translateY(-28%) rotate(-30deg);
    }
    30% {
      transform: translateX(-2%) translateY(15%) rotate(-5deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    76% {
      transform: translateY(6%) rotate(5deg);
    }
    80% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
  @keyframes chip3 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-30%) rotate(-6deg);
    }
    30% {
      transform: translateY(15%) rotate(6deg);
    }
    45% {
      transform: translateY(-15%) rotate(-3.6deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    75% {
      transform: translateY(-6%) rotate(-1.2deg);
    }
    95% {
      transform: translateY(9%) rotate(5deg);
    }
  }
  @keyframes chip4 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    20% {
      transform: translateY(-30%) rotate(-30deg);
    }
    35% {
      transform: translateY(15%) rotate(-6deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    85% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
</style>
