<script>
  import {playSound, stopSound }from '../Audio.svelte'
  import promoData from './promoData'
    import {onMount} from 'svelte'
  import { BASE_URL, gameClosed, gameWon, gameSkipped, sendMetrik, externalLink, iframeLink } from "../helpers";
  import Timer from "./Timer.svelte";

  export let myPlayer;
  export let duration;
  
  export let episode;
  let selectedPromo;
  let isTimerVisible = $gameClosed && !$gameSkipped;
  
  // import { sendMetrik } from "../helpers";
  export let nextVideo;

  // sendMetrik("GameAdShow", { "Gambler.GameAdEpisode": episode });

  const onSkip = () => {
    if(!selectedPromo) {
      sendMetrik("PromoSkip")
    }
    stopSound();
    nextVideo();
  };
  const onClick = (event, item) => {
      stopSound();
      isTimerVisible = false;
      if (selectedPromo) {
        event.preventDefault();
        return;
      }
      if(item.showInIframe){
        event.preventDefault();
        $iframeLink = item.href;
      } else {
        $externalLink = item.href;
      }
      sendMetrik('PromoClick', {'Gambler.PromoClickUrl':item.href})
      selectedPromo = item.href;
      myPlayer.pause();
    };
  onMount(() => {
      if($gameWon){
        sendMetrik("PromoShow")
        playSound('gameWon')
      } else if(episode === '22'){
         if($gameSkipped){
          sendMetrik("PromoShow")
          playSound('promo2')
        } else if($gameClosed && !$gameSkipped){
          sendMetrik("PromoShow")
          myPlayer.muted(true)
          playSound('promo1')
        }
      }
      myPlayer.controlBar.el_.style.display = "none";
    
    return () => {
      stopSound();
      myPlayer.controlBar.el_.style.display = "";
    };
  })
</script>

<div class="container appear">
  <img src={`${BASE_URL}/images/chip3.png`} alt="chip1" class="chip3" />
  <img src={`${BASE_URL}/images/chip1.png`} alt="chip1" class="chip1" />
  <img src={`${BASE_URL}/images/chip4.png`} alt="chip1" class="chip4" />
  <img src={`${BASE_URL}/images/chip2.png`} alt="chip1" class="chip2" />
  <img src={`${BASE_URL}/images/logo.png`} alt="logo" class="logo" />
  <div class="promoContainer">
    {#each promoData as item, i (item.src)}
      <a
        href={item.href}
        target="_blank"
        on:click={(e) => onClick(e, item)}>
        <img
          src={`${BASE_URL}${item.src}`}
          alt="logo"
          class="promo"
          class:invisible={selectedPromo && selectedPromo !== item.href} />
      </a>
    {/each}
  </div>
  {#if !isTimerVisible}
    <img
      src={`${BASE_URL}/images/watch.png`}
      alt="cards"
      class="button"
      on:click={onSkip} />
  {/if}
  {#if duration && isTimerVisible}
    <div class="timer">
      <Timer {duration} />
    </div>
    <img
      on:click={onSkip}
      src={`${BASE_URL}/images/continue.png`}
      alt="cards"
      class="continue appear" />
  {/if}
</div>

<style>
  .timer {
    width: 3.75%;
    position: absolute;
    bottom: 16.1%;
    right: 57.5%;
  }
  .continue {
    width: 23.88%;
    position: absolute;
    bottom: 15%;
    right: 38%;
    cursor: pointer;
  }
  .promoContainer {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 38.3%;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
  }
  .invisible {
    pointer-events: none;
    opacity: 0.1;
    cursor: default;
  }
  .promoContainer a {
    width: 12.5%;
    margin: 0 1%;
  }
  .promo {
    width: 100%;
  }
  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-top: 56%;
    transform: translateY(-50%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .appear {
    animation: appear 2s ease-in-out;
  }

  .button {
    position: absolute;
    width: 35%;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }

  .logo {
    position: absolute;
    width: 17%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .chip1 {
    position: absolute;
    bottom: -7%;
    left: 2%;
    width: 13%;
    animation: chip1 12s linear infinite;
  }
  .chip2 {
    position: absolute;
    bottom: -5%;
    right: -2%;
    width: 15%;
    animation: chip2 15s ease-in-out infinite;
  }
  .chip3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 16%;
    animation: chip3 13s ease-in-out infinite;
  }
  .chip4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 13%;
    animation: chip4 15s ease-in-out infinite;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes chip1 {
    0%,
    100% {
      transform: translate(0%, 0%) rotate(0);
      transform-origin: 50% 50%;
    }
    33% {
      transform: translate(-15%, 30%) rotate(15deg);
    }
    66% {
      transform: translate(15%, -30%) rotate(-15deg);
    }
  }

  @keyframes chip2 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    13% {
      transform: translateX(-2%) translateY(-28%) rotate(-30deg);
    }
    30% {
      transform: translateX(-2%) translateY(15%) rotate(-5deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    76% {
      transform: translateY(6%) rotate(5deg);
    }
    80% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
  @keyframes chip3 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    15% {
      transform: translateY(-30%) rotate(-6deg);
    }
    30% {
      transform: translateY(15%) rotate(6deg);
    }
    45% {
      transform: translateY(-15%) rotate(-3.6deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    75% {
      transform: translateY(-6%) rotate(-1.2deg);
    }
    95% {
      transform: translateY(9%) rotate(5deg);
    }
  }
  @keyframes chip4 {
    0%,
    100% {
      transform: translateY(0) rotate(0);
      transform-origin: 50% 50%;
    }
    20% {
      transform: translateY(-30%) rotate(-30deg);
    }
    35% {
      transform: translateY(15%) rotate(-6deg);
    }
    50% {
      transform: translateY(-15%) rotate(25deg);
    }
    60% {
      transform: translateY(9%) rotate(2.4deg);
    }
    85% {
      transform: translateY(-6%) rotate(-5deg);
    }
  }
  @keyframes heartbeat {
    from {
      transform: translateX(-50%) scale(1);

      transform-origin: center center;

      animation-timing-function: ease-out;
    }
    10% {
      transform: translateX(-50%) scale(0.91);

      animation-timing-function: ease-in;
    }
    17% {
      transform: translateX(-50%) scale(0.98);

      animation-timing-function: ease-out;
    }
    33% {
      transform: translateX(-50%) scale(0.87);

      animation-timing-function: ease-in;
    }
    45% {
      transform: translateX(-50%) scale(1);

      animation-timing-function: ease-out;
    }
  }
</style>
