<script>
  import {fade} from 'svelte/transition'
    import {BASE_URL} from '../helpers'
  const shareUrl = encodeURIComponent("https://igra.film/");
  const title = encodeURIComponent("Игрок - Первая интерактивная комедия!");
  const utm = "playerShare";
  const socialButtons = [
    {
      src: "/images/social/vk.svg",
      href: `https://vk.com/share.php?url=${shareUrl}&title=${title}&utm_source=${utm}`,
    },
    {
      src: "/images/social/facebook.svg",
      href: `https://www.facebook.com/sharer.php?src=sp&u=${shareUrl}&title=${title}&utm_source=${utm}`,
    },
    {
      src: "/images/social/ok.svg",
      href: `https://connect.ok.ru/offer?url=${shareUrl}&title=${title}&utm_source=${utm}`,
    },
    {
      src: "/images/social/twitter.svg",
      href: `https://twitter.com/intent/tweet?text=${title}&url=${shareUrl}&utm_source=${utm}`,
    },
    {
      src: "/images/social/telegram.svg",
      href: `https://t.me/share/url?url=${shareUrl}&text=${title}&utm_source=${utm}`,
    },
  ];
</script>

<div class="social" transition:fade|local>
  {#each socialButtons as social}
    <a href={social.href} target="_blank" class="socialLink">
      <img src={BASE_URL + social.src} alt="social share" class="socialImage" />
    </a>
  {/each}
</div>

<style>
  .social {
    position: absolute;
    width: 4%;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 100;
  }
  .socialImage {
    display: block;
    width: 100%;
    margin-bottom: 50%;
  }
</style>
