<script>
  import { onMount } from "svelte";
  
  import { createEventDispatcher } from "svelte";
  export let duration;
const TURN_TIME = duration * 1000
  const dispatch = createEventDispatcher();
  
  let time = TURN_TIME;
  $: percent = (time / TURN_TIME) * 100;
  $: seconds = Math.ceil(time / 1000);
  
  let timerId = null;
  onMount(() => {
    
    const tick = () => {
      time = time - 10;
      if (time === 0) {
        dispatch("timerend", null);
        return;
      }
      timerId = setTimeout(tick, 10);
    };
    tick();
    return () => {
      clearTimeout(timerId);
    }
  });
</script>

<svg viewBox="0 0 36 36" class="timerSvg">
  <path
    class="timerBackground"
    d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
    -31.831"
    fill="none"
    stroke-width="1"
    stroke-dasharray="100, 100" />
  <path
    class="timer"
    d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
    -31.831"
    fill="none"
    stroke="#444"
    stroke-width="3"
    stroke-dasharray={`${percent}, 100`} />
  <text x="18" y="23" class="text" text-anchor="middle">{seconds}</text>
</svg>

<style>
  .text {
    fill: white;
  }
  .timer {
    stroke: #EE3124;
    stroke-linecap: round;
  }
  .timerBackground {
    stroke: none;
  }
  .timerSvg {
    /* max-width: 60%; */
    display: block;
  }
</style>
